@model Web.ViewModel.SampleReceivingModel
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Search Sample Receiving</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group" id="dvCreatedBy">
                @Html.LabelFor(model => model.FromDate, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.FromDate, new { @class = "textbox-medium", })
                </div>
                @Html.LabelFor(model => model.ToDate, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ToDate, new { @class = "textbox-medium" })
                </div>
            </div>
        </div>
        <div>
            <select size="5" id="listProduct" style="display:none;">
            </select>
        </div>
        <div>
            <button class="btn btn-primary" type="button" id="btnSearchSampleReceive">Submit</button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" id="btnOk" >Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</div>

